name: Generate Foxtel EPG

on:
  schedule:
    - cron: "0 11 * * *" # NZDT midnight
    - cron: "0 12 * * *" # NZST midnight

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y mono-complete unzip wget

      - name: Download WebGrab+Plus Portable
        run: |
          wget http://webgrabplus.com/sites/default/files/download/SW/V3.2.1/WebGrabPlus_Linux_Portable.zip
          unzip WebGrabPlus_Linux_Portable.zip -d webgrab-bin

      - name: Download SiteIni Pack
        run: |
          wget -O siteini.zip https://github.com/SilentButeo2/webgrabplus-siteinipack/archive/refs/heads/master.zip
          unzip siteini.zip -d siteini

      - name: Run WebGrab
        run: |
          mono webgrab-bin/WebGrab+Plus.exe --config ./webgrab/WebGrab++.config.xml

      - name: Move output to public
        run: |
          mkdir -p public
          cp guide.xml public/epg.xml

      - name: Commit updated EPG
        run: |
          git config --global user.name "EPG Bot"
          git config --global user.email "actions@github.com"
          git add public/epg.xml
          git commit -m "EPG update $(date)" || echo "No changes"
          git push
