name: Generate Foxtel EPG

on:
  schedule:
    - cron: "0 11 * * *" # NZDT midnight
    - cron: "0 12 * * *" # NZST midnight
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y mono-complete git unzip

      - name: Clone WebGrab Source
        run: |
          git clone https://github.com/ldab/webgrabplus.git

      - name: Build WebGrab
        run: |
          cd webgrabplus
          xbuild WebGrabPlus.sln

      - name: Download SiteIni Pack
        run: |
          git clone https://github.com/SilentButeo2/webgrabplus-siteinipack.git

      - name: Run WebGrab
        run: |
          mono webgrabplus/bin/Release/WebGrab+Plus.exe --config ./webgrab/WebGrab++.config.xml

      - name: Move output to public
        run: |
          mkdir -p public
          cp guide.xml public/epg.xml

      - name: Commit updated EPG
        run: |
          git config --global user.name "EPG Bot"
          git config --global user.email "actions@github.com"
          git add public/epg.xml
          git commit -m "EPG update $(date)" || echo "No changes"
          git push
